extend layout

block content 
    h1(class="header")= "Mini Messageboard"
    h2(class="form-header")= "Post Your Message"
    form(method="post" action="/new" id="msg-form")
        label(id="user-name-label" for="userName") User Name
        input(id="user-name" name="userName" type="text")
        
        label(id="user-msg-label" for="userMessage") Message
        input(id="user-msg" name="userMessage" type="text")
        
        button(type="submit" id="submit-msg") Post Message